@import '../../styles/settings.scss';
.component{
    display: flex;
    justify-content: space-between;
    overflow: auto;
}


.cards
 {
  flex-shrink: 0;
  width: 40vw;

  margin: 0 $base-size $base-size 0;
  padding: 18px 18px 18px 0px;
  border-radius: $radius;
 text-align: center;
  color: $color-light;

  &:last-child {
    margin: 0 0 $base-size 0; 
  }
}

.title {
  text-align: center;
  font-size: ($base-size * 5);
  margin: 0 0 ($base-size * 1.5) 0;
}

.icon > * {
  padding-right: $base-size;
  color: $color-warning;
  font-size: ($base-size * 2);
  vertical-align: middle;
}
.imgstatus{
    width: 10vw;
    height: 10vw;
    border:solid 3px green;
    border-radius: 50%;
    background-color:yellow;
    padding: 30px;
    text-align: center;
    
}
.imgstatusrevers{
  width: 10vw;
  height: 10vw;
  border:solid 3px green;
  border-radius: 50%;
  background-color:gray;
  padding: 30px;
  text-align: center;
  
}

@media (max-width: 767px) {

  .component {
    width: 100%;
    margin: 0 0 $base-size 0;
  }

}
